/**
 * @name VanillyNeko
 * @author VanillyNeko & Leigh Magee
 * @version 0.0.8
 * @description Description
 * @website https://github.com/arty01238
 * @source https://github.com/arty01238/Neko-s-BD-theme
**/

@import url(https://bd.vnil.me/main.css);

:root{
    --background: url(https://vnil.me/spy-x-family-anya-forger-anime-desktop-wallpaper-preview.jpg);
    
    --activetext-colour: white;

    --primary1-colour: rgb(228, 171, 250);
    --primary2-colour: rgba(159, 181, 255, 0.5);
    --primary3-colour: rgba(162, 184, 255, 0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --transparency-2: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --transparency-3: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --transparency-4: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --transparency-5: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
}
  /*TopBar*/
  #app-mount .typeWindows__5fa63 {
    background-color: var(--secondary3-colour); 
    border-bottom: 2px solid var(--primary3-colour); 
    height: 30px;
    margin: 0px;
}
#app-mount .typeWindows__5fa63:after {
    content: "Anya Theme v1 By VanillyNeko";
    color: rgb(255,255,255,0.5);
    font-weight: 500;

    position: absolute;
    top: 8px;
    left: 43.2%;
}
